TORBOXARR_TORBOX_API_TOKEN=
TORBOXARR_QBIT_PASSWORD=
TORBOXARR_SAB_API_KEY=
# Required for the bundled Docker setup. Set these to the UID/GID TorBoxarr should run as.
# Set these as the same user and group as Sonarr / Radarr
PUID=
PGID=

# Optional overrides
# TORBOXARR_SERVER_BASE_URL=http://localhost:8085
# TORBOXARR_DATA_ROOT=/data
# TORBOXARR_DATABASE_PATH=/config/torboxarr.db
# TORBOXARR_LOG_LEVEL=INFO
# TORBOXARR_UPSTREAM_REMOVE=false
